<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./oauth2/styles/styles.css">
    <title>Home</title>
</head>
<style>
    button {
    width: 80%;
    padding: 12px;
    background: linear-gradient(90deg, black, rgb(89, 1, 89));
    color: cyan;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.3s;
    box-shadow: 0 0 12px cyan;
    font-weight: bold;
    margin: 10px 0;
}
</style>
<body>
    <div class="container">
        <h1>Welcome to Dew</h1>
        <button onclick="window.location.href='/oauth2/login'">Login</button>
        <button onclick="window.location.href='/oauth2/register-user'">Register User</button>
        <button onclick="window.location.href='/oauth2/register-client'">Register Client</button>
    </div>
</body>
</html>
